body {
  margin: 0;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.columnsContainer,
footer,
header {
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;

}

.leftColumn,
.rightColumn,
footer,
header {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 5px;
}


#myfooter {
  background-color: rgb(39, 39, 39);
  color: white;
}


.leftColumn {
  margin-bottom: .5em;
  height: 100%
}

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav>li,
.nav>li>a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* Chat Window Style */

form,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  color: #0000FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#formwrapper {
  margin: 0 auto;
  padding-bottom: 5px;
  border: 1px solid #ACD8F0;
  height: 100%;
  color: black;

}

#questionswrapper {
  margin: 0 auto;
  padding-bottom: 5px;
  background: #EBF4FB;
  border: 1px solid #ACD8F0;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 5px;
  height: 400px;
  /* border:1px solid #ACD8F0; */
  overflow: scroll;
}

#usermsg {
  width: 86%;
  text-align: left;
}

#submitmsg {
  width: 12%;
  text-align: right;
}

.ms-auto {
  margin-left: auto !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.bg-carousel {
  filter: invert(100%);
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

#br1 {
  display: none;
}

#br2 {
  display: none;
}

#br3 {
  display: none;
}
  
#copy{
  margin-left: 20px;
}

.logo-ifal{
  margin-right: 20px;
}

#logo{
  height:73px; 
  width: 140px;
}

#ifal1{
  height:72px; 
  width: 99px;
}

#ifal2{
  height:58px; 
  width: 100px;
}
@media (min-width: 1100px) {
  #slider {
    margin-top: 70px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    margin-bottom: 40px;
  }

  #slider .carousel-caption p {
    margin-bottom: 20px;
  }

  .carousel-caption .btn-dark {
    font-size: 15px;
  }




}

@media (max-width: 1099.98px) {
  #slider {
    margin-top: 75px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  #slider .carousel-caption p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .carousel-caption .btn-dark {
    font-size: 15px;
  }

}

@media (max-width: 991.98px) {
  #slider {
    margin-top: 80px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 30px;
    margin-bottom: 18px;
  }

  #slider .carousel-caption p {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .carousel-caption .btn-dark {
    font-size: 15px;
  }

}

@media (max-width: 840px) {
  #slider {
    margin-top: 80px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  #slider .carousel-caption p {
    font-size: 16px;
    margin-bottom: 13px;
  }

  .carousel-caption .btn-dark {
    font-size: 14px;
  }

}

@media (max-width: 767.98px) {
  #slider {
    margin-top: 85px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #slider .carousel-caption p {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .carousel-caption .btn-dark {
    font-size: 12px;
  }

}

@media (max-width: 670px) {
  #slider {
    margin-top: 85px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  #slider .carousel-caption p {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .carousel-caption .btn-dark {
    font-size: 12px;
  }

  #br1 {
    display: block;
  }

}

@media (max-width: 620px) {
  #slider {
    margin-top: 85px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  #slider .carousel-caption p {
    font-size: 11px;
    margin-bottom: 7px;
  }

  .carousel-caption .btn-dark {
    font-size: 10px;
  }

  #br1 {
    display: block;
  }

}

@media (max-width: 575.98px) {
  #slider {
    margin-top: 85px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  #slider .carousel-caption p {
    font-size: 11px;
    margin-bottom: 7px;
  }

  .carousel-caption .btn-dark {
    font-size: 10px;
  }

  #br1 {
    display: block;
  }

  #br2 {
    display: block;
  }
}

@media (max-width: 475px) {
  #slider {
    margin-top: 95px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 16px;
  }

  #slider .carousel-caption p {
    font-size: 10px;
    margin-bottom: 15px;
  }

  .carousel-caption .btn-dark {
    font-size: 8px;
  }

  #br1 {
    display: block;
  }

  #br2 {
    display: block;
  }
}

@media (max-width: 425px) {
  #slider {
    margin-top: 95px;
  }

  #slider .carousel-caption {
    top: 5%;
  }

  #slider .carousel-caption h1 {
    font-size: 14px;
  }

  #slider .carousel-caption p {
    font-size: 10px;
    margin-bottom: 15px;
  }

  .carousel-caption .btn-dark {
    font-size: 8px;
  }

  #br1 {
    display: block;
  }

  #br2 {
    display: block;
  }

  #br3 {
    display: block;
  }

  .logo-ifal{
    margin-right: 100px;
  }

  #logo{
    height:54px; 
    width: 105px;
  }
  
  #ifal1{
    height:54px; 
    width: 75px;
  }
  
  #ifal2{
    height:43.5px; 
    width: 75px;
  }
  #copy{
    font-size: 12px;
  }
}